In [18]:
import pandas as pd

records_file_name = 'Yiran-BurialRecords_CAA26Jun2019.xlsx'

df_records = pd.read_excel(io=records_file_name, sheet_name = None)

In [9]:
for d in df_records:
    print(type(df_records[d]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [10]:
_df = df_records['Jul 1929 - Feb 1930']
print(_df)

                     File Name  Page Number Divison of Cemetary No. of Grave  \
0     July 1929 – Feb 1930.pdf          102   Paupers III Sec I          458
1     July 1929 – Feb 1930.pdf          102   Paupers III Sec I           34
2     July 1929 – Feb 1930.pdf          102   Paupers III Sec I           22
3     July 1929 – Feb 1930.pdf          102   Paupers III Sec I           13
4     July 1929 – Feb 1930.pdf          102   Paupers III Sec I          435
5     July 1929 – Feb 1930.pdf          102               a III         1169
6     July 1929 – Feb 1930.pdf          102               a III         1156
7     July 1929 – Feb 1930.pdf          102               a III         1150
8     July 1929 – Feb 1930.pdf          102   Paupers III Sec I            7
9     July 1929 – Feb 1930.pdf          102   Paupers III Sec I            3
10    July 1929 – Feb 1930.pdf          102   Paupers III Sec I            1
11    July 1929 – Feb 1930.pdf          102   Paupers III Sec I          247
12    July 1929 – Feb 1930.pdf          102   Paupers III Sec I          229
13    July 1929 – Feb 1930.pdf          102   Paupers III Sec I          412
14    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          390
15    July 1929 – Feb 1930.pdf          103               a III         1127
16    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          369
17    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          348
18    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          327
19    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          307
20    July 1929 – Feb 1930.pdf          103               a III         1216
21    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          287
22    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          248
23    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          212
24    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          267
25    July 1929 – Feb 1930.pdf          103               a III         1017
26    July 1929 – Feb 1930.pdf          103               a III         1206
27    July 1929 – Feb 1930.pdf          103   Paupers III Sec I          580
28    July 1929 – Feb 1930.pdf          104   Paupers III Sec I          230
29    July 1929 – Feb 1930.pdf          104   Paupers III Sec I          213
...                        ...          ...                 ...          ...
1370  July 1929 – Feb 1930.pdf          199  Paupers III Sec II          731
1371  July 1929 – Feb 1930.pdf          199  Paupers III Sec II          803
1372  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          536
1373  July 1929 – Feb 1930.pdf          200               a III          824
1374  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          653
1375  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          673
1376  July 1929 – Feb 1930.pdf          200               a III          804
1377  July 1929 – Feb 1930.pdf          200               a III          887
1378  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          624
1379  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          595
1380  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          792
1381  July 1929 – Feb 1930.pdf          200               a III          910
1382  July 1929 – Feb 1930.pdf          200               a III          889
1383  July 1929 – Feb 1930.pdf          200               a III          866
1384  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          703
1385  July 1929 – Feb 1930.pdf          200  Paupers III Sec II          762
1386  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          732
1387  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          566
1388  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          674
1389  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          793
1390  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          763
1391  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          733
1392  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          704
1393  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          537
1394  July 1929 – Feb 1930.pdf          201               a III          908
1395  July 1929 – Feb 1930.pdf          201               a III          825
1396  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          675
1397  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          654
1398  July 1929 – Feb 1930.pdf          201  Paupers III Sec II          625
1399  July 1929 – Feb 1930.pdf          201               a III          846

     Date of Death Date of Internment                        Name of Deceased  \
0                -          14/7/1929                                 Ah Heng
1                -          14/7/1929                                Kow Chan
2                -          14/7/1929                             Goh Seh Hoo
3                -          14/7/1929                               Ah (T)ang
4                -          14/7/1929                           Chua Hai Seng
5                -          15/7/1929                      (T)an Se(o)h L(e)n
6                -          15/7/1929                             Goh Sam Hoe
7                -          15/7/1929                              Ong Ah Ngo
8                -          15/7/1929  Ah Ch(ee) + Ch(e)ng (T)een Ewe's Child
9                -          15/7/1929               (T)ong Han Cheong's child
10               -          15/7/1929                          Ong Seet K(e)n
11               -          15/7/1929                                 ?an Lee
12               -          15/7/1929                                ?ong Sai
13               -          16/7/1929                           Goh Than Kang
14               -          16/7/1929                                 Unknown
15               -          16/7/1929                         (T)an (T)ak Neo
16               -          17/7/1929                                 Sai Yow
17               -          17/7/1929                               Loh Leang
18               -          17/7/1929                                Kia Seng
19               -          17/7/1929                             Yeo Ah Chay
20               -          17/7/1929                              Aw Oh Chee
21               -          18/7/1929                                 Ah Soon
22               -          18/7/1929                              (Mend) Kia
23               -          18/7/1929                     Moh Ah Tuai's child
24               -          18/7/1929                            Khoo Kim Neo
25               -          18/7/1929                            Ang Kay Liew
26               -          19/7/1929                         Cho Seng Cheang
27               -          19/7/1929                              Lee D(i)ng
28               -          19/7/1929                                 Ah Song
29               -          19/7/1929                                Yap ?ock
...            ...                ...                                     ...
1370             -          17/2/1930                             ?uan Ah Moi
1371             -          17/2/1930                            Soh Koh Beng
1372             -          17/2/1930                               Toh Thong
1373             -          18/2/1930                           Soh Teng ?wee
1374             -          18/2/1930                              (G)ong Lim
1375             -          18/2/1930                          Sia?? Kim Seng
1376             -          19/2/1930                          Goh Ching Soon
1377             -          19/2/1930                             Ang Yew Lye
1378             -          19/2/1930                             Teo Oh Long
1379             -          19/2/1930                                  Lim Ng
1380             -          19/2/1930                                 Unknown
1381             -          19/2/1930                Remains of Mah ?uang Neo
1382             -          19/2/1930                  Remains of Li Geok Eng
1383             -          20/2/1930                             Lim Guat Ee
1384             -          20/2/1930                     Ong Kim ??g's child
1385             -          20/2/1930                  Beh Ah (Le)ang's child
1386             -          20/2/1930                      Chong ?han's child
1387             -          20/2/1930                                 Unknown
1388             -          20/2/1930                    Tan Hup Seng's child
1389             -          20/2/1930                    Tan Hup Seng's child
1390             -          20/2/1930                          Cheong Ah Chai
1391             -          20/2/1930                          Soh Kim's baby
1392             -          20/2/1930                  Cheng Ah Chong's child
1393             -          21/2/1930                            Wee See Hong
1394             -          21/2/1930                           Teo Kah Chwee
1395             -          21/2/1930                               Oh (P)eow
1396             -          21/2/1930                                 Moh ?oo
1397             -          21/2/1930                              Ng Ah Boey
1398             -          22/2/1930                                 Ng Beow
1399             -          22/2/1930                        Lee Cheong Chong

     Sex         Age
0      M          28
1      M          28
2      M           1
3      M    21months
4      M          20
5      F          55
6      M          53
7      M          29
8      F       3days
9      F       8days
10     M           3
11     F     1months
12     M     4months
13     M           2
14     F          35
15     F          85
16     F          34
17     M          24
18     M          30
19     M          40
20     M     3months
21     M          35
22     F           7
23     M       3days
24     F          88
25     M          35
26     M          48
27     M           5
28     M          32
29     M          45
...   ..         ...
1370   F    5 months
1371   M          93
1372   M          55
1373   M          71
1374   M          23
1375   M    5 months
1376   M          72
1377   M          24
1378   M          63
1379   M          80
1380   F           ?
1381   F           -
1382   -           -
1383   F          38
1384   F   13 months
1385   M           -
1386   M    6 months
1387   M          45
1388   M     14 days
1389   M     14 days
1390   M  2.5 months
1391   F   14 months
1392   F           -
1393   M          24
1394   M          5?
1395   M          38
1396   M           4
1397   F           6
1398   M          62
1399   M          27

[1400 rows x 9 columns]

In [12]:
_df['Sex']

0       M
1       M
2       M
3       M
4       M
5       F
6       M
7       M
8       F
9       F
10      M
11      F
12      M
13      M
14      F
15      F
16      F
17      M
18      M
19      M
20      M
21      M
22      F
23      M
24      F
25      M
26      M
27      M
28      M
29      M
       ..
1370    F
1371    M
1372    M
1373    M
1374    M
1375    M
1376    M
1377    M
1378    M
1379    M
1380    F
1381    F
1382    -
1383    F
1384    F
1385    M
1386    M
1387    M
1388    M
1389    M
1390    M
1391    F
1392    F
1393    M
1394    M
1395    M
1396    M
1397    F
1398    M
1399    M
Name: Sex, Length: 1400, dtype: object

In [14]:
_df['Sex'].value_counts()['M']

942

In [21]:
results = []

for d in df_records:
    mf = df_records[d]['Sex'].value_counts()
    _sum = mf.sum()
    m = mf['M']
    f = mf['F']
    unknown = _sum - m - f
    results.append([d, _sum, m, f, unknown])

In [22]:
print(results)

[['Apr 1922 - Aug 1925', 1404, 859, 543, 2], ['Aug 1925 - Oct 1926', 1400, 980, 419, 1], ['Oct 1926 - Nov 1927', 1384, 912, 463, 9], ['Nov 1927 - Dec 1928', 1397, 941, 445, 11], ['Dec 1928 - Jul 1929', 1399, 944, 453, 2], ['Jul 1929 - Feb 1930', 1400, 942, 449, 9], ['Feb 1930 - Jul 1930', 1386, 900, 483, 3], ['Jul 1930 - Dec 1930', 1428, 905, 503, 20], ['Dec 1930 - May 1931', 1354, 877, 472, 5], ['May 1931 - Dec 1931', 1398, 837, 556, 5], ['Dec 1931 - Jun 1932', 1383, 844, 521, 18], ['Jun 1932 - Jan 1933', 1364, 839, 524, 1], ['Jan 1933 - Jul 1933', 1400, 840, 557, 3], ['Jul 1933 - Jan 1934', 1388, 841, 539, 8], ['Jan 1934 - Jul 1934', 1386, 831, 546, 9], ['Jul 1934 - Dec 1934', 1384, 822, 552, 10], ['July 1934 - Dec 1934', 1384, 822, 552, 10], ['Dec 1934 - May 1935', 1385, 807, 573, 5], ['May 1935 - Oct 1935', 1587, 908, 644, 35], ['Oct 1935 - Dec 1936', 1373, 828, 545, 0], ['Jan 1936 -Apr 1936', 1396, 831, 549, 16], ['Apr 1936 - Jul 1936', 1400, 819, 574, 7], ['Jul 1936 - Oct 1936', 1356, 797, 556, 3], ['Jan 1937 - Apr 1937', 1400, 847, 550, 3], ['Apr 1937 - Jul 1937', 1400, 782, 608, 10], ['Jul 1937 - Oct 1937', 1400, 782, 608, 10], ['Oct 1937 - Dec 1937', 924, 554, 357, 13], ['Dec 1937 - Mar 1938', 1401, 840, 550, 11], ['Mar 1938 - May 1938', 1400, 793, 570, 37], ['Oct 1938 - Jan 1939', 1407, 836, 570, 1], ['Jan 1939 - May 1939', 1399, 852, 545, 2], ['Aug 1939 - Oct 1939', 1396, 838, 553, 5], ['Oct 1939 - Jan 1940', 1400, 820, 579, 1], ['Apr 1940 - Jun 1940', 1358, 792, 560, 6], ['Jun 1940 - Sep 1940', 1498, 887, 610, 1], ['Sep 1940 - Jan 1941', 2000, 1214, 776, 10], ['Jan 1941 - May 1941', 2000, 1201, 796, 3], ['May 1941 - Sep 1941', 2000, 1185, 813, 2], ['Sep 1941 - Jan 1942', 2003, 1229, 771, 3], ['Jan 1942 - Apr 1942', 1999, 1235, 715, 49], ['Apr 1942 - Jun 1942', 2065, 1272, 696, 97], ['Jan 1944 - Apr 1944', 1400, 831, 567, 2], ['Sep 1944 - Dec 1944', 1248, 889, 359, 0], ['Dec 1944 - Mar 1945', 3109, 2137, 876, 96], ['May 1947 - Dec 1972', 759, 268, 449, 42]]

In [24]:
import numpy as np
df_results = pd.DataFrame(np.array(results), columns=['Filenames', 'Line/names', 'Male', 'Female', 'Unknown'])
print(df_results)

               Filenames Line/names  Male Female Unknown
0    Apr 1922 - Aug 1925       1404   859    543       2
1    Aug 1925 - Oct 1926       1400   980    419       1
2    Oct 1926 - Nov 1927       1384   912    463       9
3    Nov 1927 - Dec 1928       1397   941    445      11
4    Dec 1928 - Jul 1929       1399   944    453       2
5    Jul 1929 - Feb 1930       1400   942    449       9
6    Feb 1930 - Jul 1930       1386   900    483       3
7    Jul 1930 - Dec 1930       1428   905    503      20
8    Dec 1930 - May 1931       1354   877    472       5
9    May 1931 - Dec 1931       1398   837    556       5
10   Dec 1931 - Jun 1932       1383   844    521      18
11   Jun 1932 - Jan 1933       1364   839    524       1
12   Jan 1933 - Jul 1933       1400   840    557       3
13   Jul 1933 - Jan 1934       1388   841    539       8
14   Jan 1934 - Jul 1934       1386   831    546       9
15   Jul 1934 - Dec 1934       1384   822    552      10
16  July 1934 - Dec 1934       1384   822    552      10
17   Dec 1934 - May 1935       1385   807    573       5
18   May 1935 - Oct 1935       1587   908    644      35
19   Oct 1935 - Dec 1936       1373   828    545       0
20    Jan 1936 -Apr 1936       1396   831    549      16
21   Apr 1936 - Jul 1936       1400   819    574       7
22   Jul 1936 - Oct 1936       1356   797    556       3
23   Jan 1937 - Apr 1937       1400   847    550       3
24   Apr 1937 - Jul 1937       1400   782    608      10
25   Jul 1937 - Oct 1937       1400   782    608      10
26   Oct 1937 - Dec 1937        924   554    357      13
27   Dec 1937 - Mar 1938       1401   840    550      11
28   Mar 1938 - May 1938       1400   793    570      37
29   Oct 1938 - Jan 1939       1407   836    570       1
30   Jan 1939 - May 1939       1399   852    545       2
31   Aug 1939 - Oct 1939       1396   838    553       5
32   Oct 1939 - Jan 1940       1400   820    579       1
33   Apr 1940 - Jun 1940       1358   792    560       6
34   Jun 1940 - Sep 1940       1498   887    610       1
35   Sep 1940 - Jan 1941       2000  1214    776      10
36   Jan 1941 - May 1941       2000  1201    796       3
37   May 1941 - Sep 1941       2000  1185    813       2
38   Sep 1941 - Jan 1942       2003  1229    771       3
39   Jan 1942 - Apr 1942       1999  1235    715      49
40   Apr 1942 - Jun 1942       2065  1272    696      97
41   Jan 1944 - Apr 1944       1400   831    567       2
42   Sep 1944 - Dec 1944       1248   889    359       0
43   Dec 1944 - Mar 1945       3109  2137    876      96
44   May 1947 - Dec 1972        759   268    449      42

In [25]:
df_results.to_excel("output.xlsx")

In [33]:



deceased = pd.Series([])
for d in df_records:
    deceased = deceased.append( df_records[d]['Name of Deceased'])

In [40]:
df_deceased = deceased.to_frame()
print(df_deceased)
df_deceased.to_excel("output_deceased.xlsx")

                                      0
0                         Koh Beng Choo
1                         Tan Yan Ghuan
2                        See Teong Quee
3                          Chua Siew Im
4                          Ong Juan Neo
5                          Lim Lian Neo
6                         Tan Kim Chong
7                         Tan Hong Beng
8                          Kow Eng Seng
9                          Yap Yeow Hin
10                        Goh Buoy Liew
11                             Lim Yeok
12                             Tan Teok
13                          Ho Bian Neo
14                          Tan Kim Ann
15                         Tan Kim Howe
16                         Goh Tiam Kee
17                       Seet Ghim Lock
18                       Chan Bong Chit
19                         Lim Puay Kee
20                          Pek Gun Hua
21                         Lim Hua Seah
22                        Lim Geok Choo
23                         Goh Siok Bee
24                         Tan Kiat Neo
25                        Cheah Bay Kee
26                    Mrs. Tan Hood Lee
27                        Yong Lam Bian
28                         E. Yong Thye
29                         Tan Watt Neo
..                                  ...
729                      Pang Cheng Tee
730                      Lim Tong Leong
731                         Ong Jin Poh
732                     Teo Nghee Cheng
733                       Tan Swee Keow
734                        Tan Siew Eng
735                       Tan Siew Leng
736                       Sng Chew Lang
737                        Koh Poh Choo
738                       Wee Lai Whatt
739                      Ong Chwee Hoon
740           Remains of Tan Geok Liang
741  Ashes of the late Mr Tan Lian Chye
742                       Khoo Siew Neo
743                        Yeo Seow Jim
744                            Chia Nya
745                        Tan Hock Kee
746                       Leong Lin Yow
747                         Ng Poh Seng
748                        Lim Peck Neo
749                           Teo Cheye
750                       Kim Geok Keow
751                       Chan Quee Eng
752                     Cheng Seng Mong
753                        Chua Ing Neo
754           Chua An Tee @ Chua Ah Tee
755                          Toh Ek Neo
756                      Lim Choon Bock
757                    Lim Chai Wee Neo
758                        Wee Kwee Neo

[67414 rows x 1 columns]

In [43]:
deceased.value_counts().head(50)

Unknown            2183
Unknown             191
No Name              89
Unnamed              44
Tan Kim Neo          25
-                    24
Tan Ah Tee           23
Tan Ah Kow           23
Tan Ah Bah           21
Lee Ah Kow           20
Unknown Chinese      19
Lim Ah Kow           19
Tan Ah Moi           19
Tan Ah Bee           18
Lim Ah Moi           18
Lee Ah Moi           17
Lim Ah Tee           17
Ah Moi               17
Tan Kim Seng         17
Tan Ah Heng          17
Lim Kim              16
Lim Ah Bah           15
No name              15
Lim Kim Neo          14
Lee Ah Bah           14
Tan Ah Moy           14
Tan Ah Lek           14
Lim Ah Moy           13
Tan Cha Boh          13
Lim Ah Seng          13
Ah Moy               13
Tan See              13
Tan Kee              13
Unnamed              13
Tan Ah Hong          12
Tan Ah Poh           12
Tan Eng              12
Lee Ah Tee           12
Lim Kim Seng         12
Tan Poh              12
Tan Chin             11
Tan Cheng            11
Tan Ah Eng           11
Tan Ah Kim           11
Goh Ah Tee           11
Tan Tee              11
Baby Lim             11
Tan Chan             11
Tan Chuan            11
Tan Chong            10
dtype: int64